<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- Make this navbar as a component -->
<!-- Pages -> Home -->
<!-- Pages -> About -->
<!-- Pages -> History -->
<!-- Routing -->
<!-- Service Optional -->



<!-- ****************************************************** -->

<!-- Step 1 -->
<!-- History and About HTML isika nicha -->
<!-- Navbar mai History -> About ka button laga do -->
<!-- Save Button Laga diya -->
<!-- Save Working  -->
<!-- Component -->
<!-- Routes -->
<!-- About | No Functions -->


<!-- History | To show data that was saved -->

<!-- Home | Save -->


<!-- There is no relation with HOME and HISTORY -->
<!-- If there is no relation and you want to share data then we use service file -->

<!-- Create a service file -->
<!-- Create a Database which will store all thse data once save button is clicked -->
<!-- Add a function to get the values once the save btn is clicked -->
<!-- And store the value into our history database -->





<!-- console.log("Hi I am " + name) -->
